<div class="card">
  <div class="card-body">

    <h1>About</h1>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut, voluptates assumenda numquam obcaecati consequuntur, ab explicabo, suscipit sit mollitia sint aliquam iste odio architecto ullam velit dignissimos unde temporibus harum! Alias quo deleniti asperiores sequi optio excepturi fugit, ipsam atque!
  </div>
</div>