<div class="jumbotron mt-4">
    <h1 class="display-a">HarnessTentant</h1>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod corrupti laboriosam unde nesciunt accusantium perspiciatis ut totam odit, voluptas error sit! Quam excepturi velit earum consequatur numquam iure nemo! Officiis.</p>
    <a href="https://github.com/KenaiFreex/HarnessTentant-RaspBerry-Web" class="btn btn-primary btn-lg" target="_blank">GitHub Repository</a>
</div>